@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #0962ba;
  color: beige;
  text-align: center;
  font-family: Roboto Slab;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: 400;
}

input {
  border-radius: 0.5rem;
  border-width: 0px;
  padding: 7px 5px 7px 5px;
  margin-left: 10px;
  box-shadow: 0px 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 15rem;
  cursor: pointer;
}

li,
a {
  text-decoration: none;
  color: white;
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(4, 49, 77);
}

.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.Main {
  justify-content: space-between;
  flex-direction: row;
}
.title {
}

.UserInput1 {
  display: flex;
  flex-direction: row;
}
.UserInput2 {
  display: flex;
  flex-direction: row;
}
